In [60]:

import pandas as pd
#Link de repositorio: carpeta
link_folder= 'https://github.com/personafujoshi/prueba_pc3/tree/main'
#Link de repositorio: archivos
link_file1=pd.read_excel('https://github.com/personafujoshi/prueba_pc3/blob/main/level1.xlsx?raw=true',header=None)
link_file2=pd.read_excel('https://github.com/personafujoshi/prueba_pc3/blob/main/level2.xlsx?raw=true',header=None)
link_file3=pd.read_excel('https://github.com/personafujoshi/prueba_pc3/blob/main/level3.xlsx?raw=true',header=None)
link_file4=pd.read_excel('https://github.com/personafujoshi/prueba_pc3/blob/main/level4.xlsx?raw=true',header=None)
link_file1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,NaN,Table 1. Human Development Index and its compo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HDI rank,Country,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,62,Malaysia,0.803,NaN,74.8839,NaN,13.34304,NaN,10.64506,NaN,26657.94355,NaN,-8,NaN,61,VERY HIGH HUMAN DEVELOPMENT
69,63,Georgia,0.802,NaN,71.694,NaN,15.56852,NaN,12.82222,NaN,14664.16825,NaN,17,NaN,64,VERY HIGH HUMAN DEVELOPMENT
70,63,Mauritius,0.802,NaN,73.5552,NaN,15.17353,e,10.42791,e,22025.34631,NaN,-1,NaN,62,VERY HIGH HUMAN DEVELOPMENT
71,63,Serbia,0.802,NaN,74.1923,NaN,14.40009,NaN,11.36987,NaN,19123.02747,NaN,4,NaN,62,VERY HIGH HUMAN DEVELOPMENT
72,66,Thailand,0.8,NaN,78.7154,NaN,15.882219,m,8.69712,NaN,17030.15352,NaN,6,NaN,64,VERY HIGH HUMAN DEVELOPMENT

In [61]:
#LIMPIANDO "LEVEL 1"
new_title = link_file1.iloc[4]
link_file1.columns=new_title
link_file1.reset_index(drop=True, inplace=True)
n1_file1
n2_file1 = n1_file1[~(n1_file1.iloc[:, 2:].isna().all(axis=1) & n1_file1.iloc[:, 1].notna())]
n2_file1
n2_file1 = n2_file1.loc[:, n2_file1.iloc[0].notna()]
n2_file1.reset_index(drop=True, inplace=True)
n2_file1
n2_file1 = n2_file1.drop(index=[0, 1, 2])
n2_file1.reset_index(drop=True, inplace=True)
n2_file1 = n2_file1.iloc[:, :-1]
n2_file1

4,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5
1,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6
2,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11
3,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6
4,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18
...,...,...,...,...,...,...,...,...
61,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8
62,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17
63,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1
64,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4
65,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6

In [62]:
n2_file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                66 non-null     object
 1   Country                                 66 non-null     object
 2   Human Development Index (HDI)           66 non-null     object
 3   Life expectancy at birth                66 non-null     object
 4   Expected years of schooling             66 non-null     object
 5   Mean years of schooling                 66 non-null     object
 6   Gross national income (GNI) per capita  66 non-null     object
 7   GNI per capita rank minus HDI rank      66 non-null     object
dtypes: object(8)
memory usage: 4.2+ KB

In [64]:
for col in n2_file1.columns[2:8]:
    n2_file1[col] = pd.to_numeric(n2_file1[col], errors='coerce')

n2_file1

4,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5
1,2,Norway,0.961,83.2339,18.185200,13.00363,64660.10622,6
2,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11
3,4,"Hong Kong, China (SAR)",0.952,85.4734,17.278170,12.22621,62606.84540,6
4,5,Australia,0.951,84.5265,21.054590,12.72682,49238.43335,18
...,...,...,...,...,...,...,...,...
61,62,Malaysia,0.803,74.8839,13.343040,10.64506,26657.94355,-8
62,63,Georgia,0.802,71.6940,15.568520,12.82222,14664.16825,17
63,63,Mauritius,0.802,73.5552,15.173530,10.42791,22025.34631,-1
64,63,Serbia,0.802,74.1923,14.400090,11.36987,19123.02747,4
65,66,Thailand,0.800,78.7154,15.882219,8.69712,17030.15352,6

In [65]:
n2_file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                66 non-null     object
 1   Country                                 66 non-null     object
 2   Human Development Index (HDI)           66 non-null     float64
 3   Life expectancy at birth                66 non-null     float64
 4   Expected years of schooling             66 non-null     float64
 5   Mean years of schooling                 66 non-null     float64
 6   Gross national income (GNI) per capita  66 non-null     float64
 7   GNI per capita rank minus HDI rank      66 non-null     int64
dtypes: float64(5), int64(1), object(2)
memory usage: 4.2+ KB

In [4]:
#LIMPIANDO "LEVEL 2"

encabezado=link_file2.iloc[0]
link_file2.columns=encabezado

link_file2= link_file2.drop(index=[0, 1, 2])
link_file2.reset_index(drop=True, inplace=True)

n1_file2= link_file2[~(link_file2.iloc[:, 1:].isna().all(axis=1) & link_file2.iloc[:, 0].notna())]
n1_file2 = n1_file2.loc[:, n1_file2.iloc[0].notna()]
n1_file2 = n1_file2.drop(columns=link_file2.columns[6])
n1_file2 = n1_file2.iloc[:, :-1]

for col in n1_file2.columns[2:8]:
    n1_file2[col] = pd.to_numeric(n1_file2[col], errors='coerce')
n1_file2.head()
n1_file2.info()
n1_file2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                49 non-null     object
 1   Country                                 49 non-null     object
 2   Human Development Index (HDI)           49 non-null     float64
 3   Life expectancy at birth                49 non-null     float64
 4   Expected years of schooling             49 non-null     float64
 5   Mean years of schooling                 49 non-null     float64
 6   Gross national income (GNI) per capita  49 non-null     float64
 7   GNI per capita rank minus HDI rank      49 non-null     int64
dtypes: float64(5), int64(1), object(2)
memory usage: 3.2+ KB

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,67,Albania,0.796,76.4626,14.448000,11.286455,14131.110390,17
1,68,Bulgaria,0.795,71.7980,13.897290,11.413180,23078.955950,-8
2,68,Grenada,0.795,74.9362,18.662020,9.032104,13483.577400,18
3,70,Barbados,0.790,77.5714,15.713385,9.852701,12306.341000,26
4,71,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,16792.365950,2
5,72,Seychelles,0.785,71.2945,13.941610,10.283120,25830.617750,-17
6,73,Sri Lanka,0.782,76.3991,14.139905,10.827300,12578.220550,21
7,74,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,15241.914650,4
8,75,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,23358.332120,-16
9,76,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,13000.711700,15
10,77,Ukraine,0.773,71.6240,14.956569,11.131420,13255.509770,11
11,78,North Macedonia,0.770,73.8415,13.624432,10.228150,15917.752830,-3
12,79,China,0.768,78.2107,14.236115,7.600118,17504.399690,-8
13,80,Dominican Republic,0.767,72.6146,14.466558,9.306864,17989.600370,-11
14,80,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,14875.331890,-1
15,80,Palau,0.767,66.0204,15.784320,12.491430,13818.678690,5
16,83,Cuba,0.764,73.6829,14.443060,12.497734,7878.847482,37
17,84,Peru,0.762,72.3769,15.387734,9.885519,12245.893660,13
18,85,Armenia,0.759,72.0431,13.116760,11.330300,13157.993900,4
19,86,Mexico,0.758,70.2127,14.864440,9.221050,17896.294980,-16
20,87,Brazil,0.754,72.7504,15.599060,8.128814,14369.888480,-5
21,88,Colombia,0.752,72.8296,14.442750,8.862860,14384.356660,-7
22,89,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,11961.087920,11
23,90,Maldives,0.747,79.9182,12.635610,7.322000,15448.127880,-14
24,91,Algeria,0.745,76.3767,14.626896,8.069284,10800.225460,13
25,91,Azerbaijan,0.745,69.3658,13.496890,10.542970,14256.744560,-8
26,91,Tonga,0.745,70.9857,16.048571,11.392594,6822.031250,34
27,91,Turkmenistan,0.745,69.2644,13.210400,11.261390,13020.715500,-1
28,95,Ecuador,0.740,73.6700,14.624230,8.817120,10311.632730,11
29,96,Mongolia,0.739,70.9754,14.980350,9.423700,10588.225320,9
30,97,Egypt,0.731,70.2207,13.786500,9.573026,11731.690560,4
31,97,Tunisia,0.731,73.7719,15.425382,7.431599,10257.544770,10
32,99,Fiji,0.730,67.1140,14.736790,10.921548,9980.110866,9
33,99,Suriname,0.730,70.2743,13.035644,9.776801,12672.200330,-6
34,101,Uzbekistan,0.727,70.8616,12.477140,11.895590,7916.785725,18
35,102,Dominica,0.720,72.8140,13.319186,8.142186,11487.624220,0
36,102,Jordan,0.720,74.2563,10.646560,10.446680,9923.714974,8
37,104,Libya,0.718,71.9112,12.854280,7.599985,15335.712000,-27
38,105,Paraguay,0.717,70.2617,12.987991,8.861840,12349.286000,-10
39,106,"Palestine, State of",0.715,73.4727,13.358010,9.938480,6582.899416,21
40,106,Saint Lucia,0.715,71.1114,12.866110,8.545040,12048.303810,-7
41,108,Guyana,0.714,65.6734,12.502722,8.617477,22464.657340,-47
42,109,South Africa,0.713,62.3410,13.643710,11.373160,12948.373250,-17
43,110,Jamaica,0.709,70.5003,13.404920,9.154629,8834.475670,4
44,111,Samoa,0.707,72.7675,12.418859,11.403800,5307.953374,24
45,112,Gabon,0.706,65.8210,12.977310,9.436000,13366.934550,-25
46,112,Lebanon,0.706,75.0472,11.285870,8.718636,9525.831467,-1
47,114,Indonesia,0.705,67.5703,13.748894,8.556510,11466.068360,-11
48,115,Viet Nam,0.703,73.6181,12.951932,8.370280,7867.371345,6

In [3]:
#LIMPIANDO LEVEL 3
link_file3
new_tittle3 = link_file3.iloc[0]
link_file3.columns=new_tittle3
n1_file3=link_file3.drop(index=[0,1,2])
link_file3.reset_index(drop=True, inplace=True)
n1_file3
n2_file3 = n1_file3[~(n1_file3.iloc[:, 2:].isna().all(axis=1) & n1_file3.iloc[:, 1].notna())]
n2_file3
n2_file3 = n2_file3.loc[:, n2_file3.iloc[0].notna()]
n2_file3.reset_index(drop=True, inplace=True)
n2_file3
n2_file3 = n2_file3.iloc[:, :-1]
n2_file3
n2_file3.info()

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,116,Philippines,0.699,69.2664,13.12657,8.9691,8920.428468,-3
1,117,Botswana,0.693,61.1409,12.265138,10.34,16198.31841,-43
2,118,Bolivia (Plurinational State of),0.692,63.6304,14.946971,9.82775,8111.190194,0
3,118,Kyrgyzstan,0.692,69.9774,13.1953,11.374106,4566.303831,26
4,120,Venezuela (Bolivarian Republic of),0.691,70.5536,12.81608,11.107277,4810.882621,20
5,121,Iraq,0.686,70.3779,12.087473,7.905593,9977.249073,-12
6,122,Tajikistan,0.685,71.5942,11.653036,11.333394,4547.742427,23
7,123,Belize,0.683,70.4697,12.99169,8.8476,6309.099778,6
8,123,Morocco,0.683,74.0419,14.15191,5.916,7302.81917,1
9,125,El Salvador,0.675,70.7479,12.671348,7.15093,8295.665889,-8
10,126,Nicaragua,0.667,73.8368,12.641358,7.144,5624.793595,6
11,127,Bhutan,0.666,71.815,13.225005,5.170262,9437.541512,-15
12,128,Cabo Verde,0.662,74.0518,12.554614,6.287719,6230.200199,2
13,129,Bangladesh,0.661,72.3811,12.44198,7.37906,5472.104781,4
14,130,Tuvalu,0.641,64.5466,9.40443,10.573108,6351.435899,-2
15,131,Marshall Islands,0.639,65.2688,10.23932,10.88314,4619.535393,12
16,132,India,0.633,67.2398,11.87462,6.655109,6589.980037,-6
17,133,Ghana,0.632,63.7954,12.04778,8.329887,5744.504017,-2
18,134,Micronesia (Federated States of),0.628,70.71,11.54948,7.804956,3696.173945,22
19,135,Guatemala,0.627,69.2368,10.56245,5.6813,8723.285317,-20
20,136,Kiribati,0.624,67.4172,11.801993,7.984462,4062.586034,14
21,137,Honduras,0.621,70.1229,10.132814,7.08848,5297.955301,-1
22,138,Sao Tome and Principe,0.618,67.5912,13.365385,6.215599,4021.350815,13
23,139,Namibia,0.615,59.269,11.927207,7.192013,8633.504452,-23
24,140,Lao People's Democratic Republic,0.607,68.0608,10.13611,5.374,7699.579617,-18
25,140,Timor-Leste,0.607,67.7369,12.616098,5.43679,4460.869435,7
26,140,Vanuatu,0.607,70.449,11.535315,7.064846,3085.411633,23
27,143,Nepal,0.602,68.4495,12.88695,5.121793,3877.315444,10
28,144,Eswatini (Kingdom of),0.597,57.0657,13.744346,5.596,7678.591873,-21
29,145,Equatorial Guinea,0.596,60.5943,9.73494,5.910863,12073.95993,-47
30,146,Cambodia,0.593,69.5835,11.46772,5.088,4078.697154,3
31,146,Zimbabwe,0.593,59.2531,12.110969,8.710909,3809.887158,9
32,148,Angola,0.586,61.6434,12.1721,5.417391,5465.617791,-14
33,149,Myanmar,0.585,65.6716,10.909138,6.3768,3850.524234,5
34,150,Syrian Arab Republic,0.577,72.0627,9.16422,5.1,4191.933893,-2
35,151,Cameroon,0.576,60.3334,13.108599,6.15131,3620.932408,6
36,152,Kenya,0.575,61.427,10.698558,6.652,4473.570344,-6
37,153,Congo,0.571,63.5187,12.330815,6.166,2889.283521,11
38,154,Zambia,0.565,61.2234,10.92876,7.187091,3217.767739,7
39,155,Solomon Islands,0.564,70.3477,10.32869,5.711848,2481.511362,13
40,156,Comoros,0.558,63.4174,11.924324,5.078649,3142.064119,6
41,156,Papua New Guinea,0.558,65.3506,10.360771,4.74,4008.623573,-4
42,158,Mauritania,0.556,64.3636,9.37616,4.918805,5075.305711,-20
43,159,Côte d'Ivoire,0.55,58.5983,10.67558,5.199139,5217.448516,-22

In [132]:
for col in n2_file3.columns[2:8]:
    n2_file3[col] = pd.to_numeric(n2_file3[col], errors='coerce')

n2_file3

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank
0,116,Philippines,0.699,69.2664,13.126570,8.969100,8920.428468,-3,113
1,117,Botswana,0.693,61.1409,12.265138,10.340000,16198.318410,-43,110
2,118,Bolivia (Plurinational State of),0.692,63.6304,14.946971,9.827750,8111.190194,0,119
3,118,Kyrgyzstan,0.692,69.9774,13.195300,11.374106,4566.303831,26,121
4,120,Venezuela (Bolivarian Republic of),0.691,70.5536,12.816080,11.107277,4810.882621,20,118
5,121,Iraq,0.686,70.3779,12.087473,7.905593,9977.249073,-12,122
6,122,Tajikistan,0.685,71.5942,11.653036,11.333394,4547.742427,23,126
7,123,Belize,0.683,70.4697,12.991690,8.847600,6309.099778,6,120
8,123,Morocco,0.683,74.0419,14.151910,5.916000,7302.819170,1,122
9,125,El Salvador,0.675,70.7479,12.671348,7.150930,8295.665889,-8,124
10,126,Nicaragua,0.667,73.8368,12.641358,7.144000,5624.793595,6,129
11,127,Bhutan,0.666,71.8150,13.225005,5.170262,9437.541512,-15,125
12,128,Cabo Verde,0.662,74.0518,12.554614,6.287719,6230.200199,2,127
13,129,Bangladesh,0.661,72.3811,12.441980,7.379060,5472.104781,4,128
14,130,Tuvalu,0.641,64.5466,9.404430,10.573108,6351.435899,-2,131
15,131,Marshall Islands,0.639,65.2688,10.239320,10.883140,4619.535393,12,131
16,132,India,0.633,67.2398,11.874620,6.655109,6589.980037,-6,130
17,133,Ghana,0.632,63.7954,12.047780,8.329887,5744.504017,-2,135
18,134,Micronesia (Federated States of),0.628,70.7100,11.549480,7.804956,3696.173945,22,136
19,135,Guatemala,0.627,69.2368,10.562450,5.681300,8723.285317,-20,133
20,136,Kiribati,0.624,67.4172,11.801993,7.984462,4062.586034,14,137
21,137,Honduras,0.621,70.1229,10.132814,7.088480,5297.955301,-1,138
22,138,Sao Tome and Principe,0.618,67.5912,13.365385,6.215599,4021.350815,13,139
23,139,Namibia,0.615,59.2690,11.927207,7.192013,8633.504452,-23,134
24,140,Lao People's Democratic Republic,0.607,68.0608,10.136110,5.374000,7699.579617,-18,142
25,140,Timor-Leste,0.607,67.7369,12.616098,5.436790,4460.869435,7,140
26,140,Vanuatu,0.607,70.4490,11.535315,7.064846,3085.411633,23,142
27,143,Nepal,0.602,68.4495,12.886950,5.121793,3877.315444,10,144
28,144,Eswatini (Kingdom of),0.597,57.0657,13.744346,5.596000,7678.591873,-21,141
29,145,Equatorial Guinea,0.596,60.5943,9.734940,5.910863,12073.959930,-47,147
30,146,Cambodia,0.593,69.5835,11.467720,5.088000,4078.697154,3,148
31,146,Zimbabwe,0.593,59.2531,12.110969,8.710909,3809.887158,9,145
32,148,Angola,0.586,61.6434,12.172100,5.417391,5465.617791,-14,149
33,149,Myanmar,0.585,65.6716,10.909138,6.376800,3850.524234,5,145
34,150,Syrian Arab Republic,0.577,72.0627,9.164220,5.100000,4191.933893,-2,152
35,151,Cameroon,0.576,60.3334,13.108599,6.151310,3620.932408,6,150
36,152,Kenya,0.575,61.4270,10.698558,6.652000,4473.570344,-6,150
37,153,Congo,0.571,63.5187,12.330815,6.166000,2889.283521,11,153
38,154,Zambia,0.565,61.2234,10.928760,7.187091,3217.767739,7,154
39,155,Solomon Islands,0.564,70.3477,10.328690,5.711848,2481.511362,13,155
40,156,Comoros,0.558,63.4174,11.924324,5.078649,3142.064119,6,156
41,156,Papua New Guinea,0.558,65.3506,10.360771,4.740000,4008.623573,-4,157
42,158,Mauritania,0.556,64.3636,9.376160,4.918805,5075.305711,-20,158
43,159,Côte d'Ivoire,0.550,58.5983,10.675580,5.199139,5217.448516,-22,159

In [133]:
n2_file3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 9 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                44 non-null     object
 1   Country                                 44 non-null     object
 2   Human Development Index (HDI)           44 non-null     float64
 3   Life expectancy at birth                44 non-null     float64
 4   Expected years of schooling             44 non-null     float64
 5   Mean years of schooling                 44 non-null     float64
 6   Gross national income (GNI) per capita  44 non-null     float64
 7   GNI per capita rank minus HDI rank      44 non-null     int64
 8   HDI rank                                44 non-null     object
dtypes: float64(5), int64(1), object(3)
memory usage: 3.2+ KB

In [67]:
#LIMPIANDO LEVEL 4
encabezado=link_file4.iloc[0]
link_file4.columns=encabezado
link_file4 = link_file4.drop(index=0)
link_file4.reset_index(drop=True, inplace=True)
n2_file4= link_file4[~(link_file4.iloc[:, 2:].isna().all(axis=1) & link_file4.iloc[:, 1].notna())]
n2_file4 = n2_file4.loc[:, n2_file4.iloc[0].notna()]
n2_file4.reset_index(drop=True, inplace=True)
column_name = n2_file4.columns[2]
n2_file4 = n2_file4.drop(columns=[column_name])
for col in n2_file4.columns[2:8]:
    n2_file4[col] = pd.to_numeric(n2_file4[col], errors='coerce')

n2_file4

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,160,Tanzania (United Republic of),0.549,66.2007,9.221490,6.372899,2664.329096,7
1,161,Pakistan,0.544,66.0979,8.658350,4.536330,4623.705430,-19
2,162,Togo,0.539,61.6194,12.950494,5.016807,2166.619062,12
3,163,Haiti,0.535,63.1924,9.700000,5.554000,2847.500746,2
4,163,Nigeria,0.535,52.6760,10.127584,7.181074,4790.284425,-22
5,165,Rwanda,0.534,66.0722,11.230970,4.425292,2209.795202,6
6,166,Benin,0.525,59.8210,10.766680,4.304786,3408.965923,-7
7,166,Uganda,0.525,62.7048,10.149870,5.730942,2181.436510,6
8,168,Lesotho,0.514,53.0620,12.040878,6.010185,2700.435748,-2
9,169,Malawi,0.512,62.9044,12.678985,4.489695,1465.635064,13
10,170,Senegal,0.511,67.0926,8.963750,2.937938,3344.311825,-10
11,171,Djibouti,0.509,62.3049,7.432980,4.100000,5024.993944,-32
12,172,Sudan,0.508,65.2667,7.945188,3.820000,3575.190840,-14
13,173,Madagascar,0.501,64.4853,10.134991,5.120469,1483.520983,8
14,174,Gambia,0.500,62.0830,9.418626,4.637487,2172.207664,-1
15,175,Ethiopia,0.498,64.9748,9.651071,3.201521,2361.069604,-5
16,176,Eritrea,0.492,66.5358,8.064525,4.887235,1728.742667,3
17,177,Guinea-Bissau,0.483,59.6523,10.613063,3.583719,1908.241590,0
18,178,Liberia,0.481,60.7472,10.420790,5.082000,1288.742350,7
19,179,Congo (Democratic Republic of the),0.479,59.1930,9.817864,7.018697,1076.098781,9
20,180,Afghanistan,0.478,61.9824,10.263844,2.985070,1824.190915,-2
21,181,Sierra Leone,0.477,60.0624,9.573391,4.576081,1621.512579,-1
22,182,Guinea,0.465,58.8922,9.805297,2.202126,2480.887182,-13
23,183,Yemen,0.455,63.7534,9.098710,3.200000,1314.270189,1
24,184,Burkina Faso,0.449,59.2696,9.142100,2.114962,2117.915916,-8
25,185,Mozambique,0.446,59.3247,10.219152,3.197642,1198.073924,2
26,186,Mali,0.428,58.9414,7.423038,2.310000,2132.629443,-11
27,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4
28,188,Central African Republic,0.404,53.8947,8.040172,4.334000,966.058611,1
29,189,Niger,0.400,61.5763,6.957112,2.116717,1239.866936,-3
30,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7
31,191,South Sudan,0.385,54.9752,5.542510,5.726140,767.787000,-1

In [150]:
n2_file4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                32 non-null     object
 1   Country                                 32 non-null     object
 2   Human Development Index (HDI)           32 non-null     float64
 3   Life expectancy at birth                32 non-null     float64
 4   Expected years of schooling             32 non-null     float64
 5   Mean years of schooling                 32 non-null     float64
 6   Gross national income (GNI) per capita  32 non-null     float64
 7   GNI per capita rank minus HDI rank      32 non-null     int64
dtypes: float64(5), int64(1), object(2)
memory usage: 2.1+ KB

In [68]:
#INTEGRANDO
#en lista

joins=[n2_file1, n1_file2, n2_file3, n2_file4]
allColumnNames=[]
for df in joins:
    allColumnNames.append(set(df.columns))

# verificando si tienen la misma cantidad
[len(cols) for cols in allColumnNames]

[8, 8, 8, 8]

In [69]:
#concatenar
conc_joins = pd.concat(joins, ignore_index=True)
conc_joins

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1,Switzerland,0.962,83.9872,16.500299,13.85966,66933.00454,5
1,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6
2,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11
3,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6
4,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18
...,...,...,...,...,...,...,...,...
186,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4
187,188,Central African Republic,0.404,53.8947,8.040172,4.334,966.058611,1
188,189,Niger,0.4,61.5763,6.957112,2.116717,1239.866936,-3
189,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7
190,191,South Sudan,0.385,54.9752,5.54251,5.72614,767.787,-1

In [70]:
conc_joins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                191 non-null    object
 1   Country                                 191 non-null    object
 2   Human Development Index (HDI)           191 non-null    object
 3   Life expectancy at birth                191 non-null    object
 4   Expected years of schooling             191 non-null    object
 5   Mean years of schooling                 191 non-null    object
 6   Gross national income (GNI) per capita  191 non-null    object
 7   GNI per capita rank minus HDI rank      191 non-null    object
dtypes: object(8)
memory usage: 12.1+ KB

In [72]:
for col in conc_joins.columns[2:8]:
    conc_joins[col] = pd.to_numeric(conc_joins[col], errors='coerce')

conc_joins

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1,Switzerland,0.962,83.9872,16.500299,13.859660,66933.004540,5
1,2,Norway,0.961,83.2339,18.185200,13.003630,64660.106220,6
2,3,Iceland,0.959,82.6782,19.163059,13.767170,55782.049810,11
3,4,"Hong Kong, China (SAR)",0.952,85.4734,17.278170,12.226210,62606.845400,6
4,5,Australia,0.951,84.5265,21.054590,12.726820,49238.433350,18
...,...,...,...,...,...,...,...,...
186,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4
187,188,Central African Republic,0.404,53.8947,8.040172,4.334000,966.058611,1
188,189,Niger,0.400,61.5763,6.957112,2.116717,1239.866936,-3
189,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7
190,191,South Sudan,0.385,54.9752,5.542510,5.726140,767.787000,-1

In [73]:
conc_joins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191 entries, 0 to 190
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   HDI rank                                191 non-null    object
 1   Country                                 191 non-null    object
 2   Human Development Index (HDI)           191 non-null    float64
 3   Life expectancy at birth                191 non-null    float64
 4   Expected years of schooling             191 non-null    float64
 5   Mean years of schooling                 191 non-null    float64
 6   Gross national income (GNI) per capita  191 non-null    float64
 7   GNI per capita rank minus HDI rank      191 non-null    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 12.1+ KB

In [75]:
conc_joins['Country'] = conc_joins['Country'].str.replace(r'\([^)]*\)', '', regex=True)
conc_joins['Country'] = conc_joins['Country'].str.split(',').str[0]
conc_joins['Country'] = conc_joins['Country'].str.upper()
conc_joins

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank
0,1,SWITZERLAND,0.962,83.9872,16.500299,13.859660,66933.004540,5
1,2,NORWAY,0.961,83.2339,18.185200,13.003630,64660.106220,6
2,3,ICELAND,0.959,82.6782,19.163059,13.767170,55782.049810,11
3,4,HONG KONG,0.952,85.4734,17.278170,12.226210,62606.845400,6
4,5,AUSTRALIA,0.951,84.5265,21.054590,12.726820,49238.433350,18
...,...,...,...,...,...,...,...,...
186,187,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4
187,188,CENTRAL AFRICAN REPUBLIC,0.404,53.8947,8.040172,4.334000,966.058611,1
188,189,NIGER,0.400,61.5763,6.957112,2.116717,1239.866936,-3
189,190,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7
190,191,SOUTH SUDAN,0.385,54.9752,5.542510,5.726140,767.787000,-1

In [81]:
#MERGE ENTRE "CONC_JOINS" Y ARCHIVO "COUNTRYCODES"
xyz2nd= pd.read_excel('https://github.com/personafujoshi/prueba_pc3/blob/main/countryCODES.xlsx?raw=true', header=None)
xyz2nd
title_xyz2nd=xyz2nd.iloc[0]
xyz2nd.columns=title_xyz2nd
xyz2nd

#mergemerge
merge=conc_joins.merge(xyz2nd,left_on='Country',right_on='Country')
merge

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,Officialstatename,InternetccTLD,iso2,iso3
0,1,SWITZERLAND,0.962,83.9872,16.500299,13.859660,66933.004540,5,The Swiss Confederation,.ch,CH,CHE
1,2,NORWAY,0.961,83.2339,18.185200,13.003630,64660.106220,6,The Kingdom of Norway,.no,NO,NOR
2,3,ICELAND,0.959,82.6782,19.163059,13.767170,55782.049810,11,Iceland,.is,IS,ISL
3,5,AUSTRALIA,0.951,84.5265,21.054590,12.726820,49238.433350,18,The Commonwealth of Australia,.au,AU,AUS
4,6,DENMARK,0.948,81.3753,18.714800,12.960490,60364.785950,6,The Kingdom of Denmark,.dk,DK,DNK
...,...,...,...,...,...,...,...,...,...,...,...,...
141,185,MOZAMBIQUE,0.446,59.3247,10.219152,3.197642,1198.073924,2,The Republic of Mozambique,.mz,MZ,MOZ
142,186,MALI,0.428,58.9414,7.423038,2.310000,2132.629443,-11,The Republic of Mali,.ml,ML,MLI
143,187,BURUNDI,0.426,61.6627,10.722722,3.129267,731.786709,4,The Republic of Burundi,.bi,BI,BDI
144,190,CHAD,0.394,52.5254,8.035914,2.573774,1364.169417,-7,The Republic of Chad,.td,TD,TCD
145,191,SOUTH SUDAN,0.385,54.9752,5.542510,5.726140,767.787000,-1,The Republic of South Sudan,.ss,SS,SSD